{% extends 'base.html' %} {% load static %} {% block title %} {{yazi.baslik}} {% endblock %} {% block content %}

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4 resim">
            <img src="{{yazi.resim.url}}" class="img-fluid rounded-start img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body body">
                <h5 class="card-title">{{yazi.baslik}}</h5>
                <p class="card-text">{{yazi.icerik|safe}} </p>
                <p class="card-text"><small class="text-muted">{{yazi.guncelleme_tarihi|timesince}} ago</small></p>
            </div>
        </div>
    </div>
</div>


<h5>Yorumlar</h5>
{% if yorum %} {% for yorum in yorumlar %}
<div class="card" style="margin-bottom:20px;">
    <div class="card-body" style="display: flex;flex-direction: row;">
        <div>
            {% if yorum.yazan.avatar %}
            <img src="{{yorum.yazan.avatar.url}} " width="75px" height="75px" style="margin-right: 10px;"> {% else %}
            <img src="{% static 'img/images.png' %} " width="75px" height="75px" style="margin-right: 10px;"> {% endif %}
        </div>
        <div>
            <h5 class="card-title">{{yorum.yazan.username}}</h5>
            <p class="card-text">{{yorum.yorum}}</p>
        </div>
    </div>

</div>
{% endfor %} {% else %} Herhangi bir yorum bulunamadi... {% endif %} {% endblock %}