<div class="col-sm-3">
    <div class="card mb-3">
        <div class="card-header">
            MENU
        </div>
        {% if request.user.is_authenticated %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Profil Duzenle</li>
            <li class="list-group-item">Sifre Degistir</li>
            <li class="list-group-item"><a href="{% url 'yazi_ekle' %}">Yazi Ekle</a></li>
            <li class="list-group-item"><a href="{% url 'yazilarim' %}">Yazilarim</a></li>
            <li class="list-group-item">Cikis Yap</li>
        </ul>
        {% else %} login formu gelecek {% endif %}
    </div>
</div>